body {
    background-color: rgba(79, 58, 242, 0.378) !important;
}


.card {
    transition: 0.3s;
    border: none;
}


.card:hover {
    transform: scale(1.03);
}


.card-img-top {
    height: 350px;
    object-fit: cover;
}


.card-title {
    font-weight: bold;
}


.list-group-item {
    font-size: 18px;
}

h1 {
    font-weight: bold;
}